
body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-image: url("grass.jpg");

}

#slither {
    font-size: 32pt;
    color: #ff0080;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#score {
    font-size: 10pt;
    color: #080004;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


